In [1]:
import pandas as pd #importing pandas library

In [2]:
df = pd.read_csv('insurance_pre.csv') #loading data to the dataset
df.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [3]:
df.shape #checking the shape of dataframe

(1338, 6)

In [4]:
dataset = pd.read_csv('insurance_pre.csv')

In [5]:
dataset = pd.get_dummies(dataset,drop_first=True).astype(int)
dataset.head(3)

   age  bmi  children  charges  sex_male  smoker_yes
0   19   27         0    16884         0           1
1   18   33         1     1725         1           0
2   28   33         3     4449         1           0

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent = dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent = dataset[['charges']]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.3,random_state = 42)

from xgboost import XGBRegressor

In [ ]:
xgb_model = XGBRegressor(
    objective='reg:squarederror',  # for regression tasks
    n_estimators=100,
    learning_rate=0.1,
    max_depth=4,
    random_state=42
)

In [14]:
y_pred = xgb_model.predict(X_test)

In [15]:
from sklearn.metrics import r2_score
r_square = r2_score(y_test,y_pred)
r_square

0.8233760772874346

In [18]:
import pickle

In [19]:
filename = 'finalized_model_RandomForestXGboost.sav'
pickle.dump(xgb_model,open(filename,'wb'))

NameError: name 'ada_regressor' is not defined

In [ ]:
saved_model = pickle.load(open('finalized_model_RandomForestadaboost.sav','rb'))

In [ ]:
res=saved_model.predict([[28,27,0,1,0]])
res